@font-face {
  font-family: 'MacPaw Fixel text';
  src: url(./font/MacPawFixelText-SemiBold.otf);
}

@font-face {
  font-family: 'MacPaw Fixel text thin';
  src: url(./font/MacPawFixelText-Thin.otf);
}

/*---null---*/
.admin_sidebar li {
  list-style-type: none;
}

.admin_sidebar ul {
  margin-left: 0;
  padding-left: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*----------*/

.admin_sidebar body {
  font-family: 'MacPaw Fixel text', sans-serif;
}

.admin_sidebar .col-12{
  height:60px;
  text-decoration: none;
}
.admin_sidebar .col-12:active{
  background-color: #0F24D4;
}
.admin_sidebar .ml{
  background-color: #3457ED;
}
.admin_sidebar .ml-1{
  background-color: #2039A5;
}
.admin_sidebar .ms-2{
font-family: 'MacPaw Fixel';
font-style: normal;
font-size: 18px;
line-height: 20px;
color: #FFFFFF;
}
.admin_sidebar .link{
  padding-top:16px;
}
.admin_sidebar .sidebar{
  background-color: 	#284EEF;
}
.admin_sidebar .admin_panel{
  background-color: #3457ED;
  height:60px;
  margin:80px 0px 59px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  
}
.admin_sidebar .pt-6{
  padding-top:69px;
}
.admin_sidebar .ms-5{
  font-size:25px;
  color:black;
  margin-right:10px;
}

/* admin-table */
table.admin-table {
  font-family: 'MacPaw Fixel text', sans-serif;
  border-spacing: 0;
}

table.admin-table .category_link{
  font-family: 'MacPaw Fixel text thin';
  color: #000;
  font-size: 15px;
  line-height: 20px;
}

table.admin-table .underline-thin-font{
  font-family: 'MacPaw Fixel text thin';
  color: #000;
  font-size: 15px;
  line-height: 20px;
  text-decoration: underline;
}

table.admin-table thead tr {
  background: #B2C0F8;
  height: 14.5vh;
}

table.admin-table tbody tr {
  background: #DAE1FF;
  height: 8.556vh;
}

table.admin-table tbody tr:nth-child(even) {
  background: #B2C0F8;
}

table.admin-table td,
table.admin-table th {
  position: relative;
  padding: 10px;
  padding-left: 11px;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
}

table.admin-table th {
  font-size: 30px;
  line-height: 30px;
}

table.admin-table td:not(:first-child):before,
table.admin-table th:not(:first-child):before {
  content: '';
  position: absolute;
  left: 0;
  top: 2.4vh;
  bottom: 2.4vh;
  width: 1px;
  height: auto;
  background: #000;
}

table.admin-table th:not(:first-child):before {
  top: 3.25vh;
  bottom: 3.25vh;
}

table.admin-table .btn {
  width: 110px;
  height: 6vh;
  min-height: 35px;
  padding: 0;
  background: #284EEF;
  border-radius: 100vw;
  border: 0;
  font-size: inherit;
  color: white;
  cursor: pointer;
  padding-top: 0.3vh;
}

table.admin-table th .btn {
  min-height: 40px;
}

table.admin-table .btn-pre-arrow {
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

table.admin-table .btn-del {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 30px;
  height: 30px;
  background: url(./img/cross1.svg);
  border: 0;
  cursor: pointer;
}

table.admin-table .btn-large {
  position: absolute;
  top: -1vh;
  bottom: -1vh;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding: 0 29px;
  border-radius: 30px;
  font-size: 30px;
}

table.admin-table input {
  position: absolute;
  margin: auto;
  height: 35px;
  top: 50%;
  left: 220px;
  right: 220px;
  transform: translateY(-50%);
  font-size: 20px;
  border: 1px solid #000;
}

table.admin-table input.btn-submit {
  position: absolute;
  top: -1vh;
  bottom: -1vh;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding: 0 29px;
  border-radius: 30px;
  font-size: 30px;
}

table.admin-table .title-input {
  position: absolute;
  display: flex;
  align-items: center;
  width: 200px;
  height: 100%;
  left: 42px;
  top: 0;
}
