body{
  background-color: aqua;
}
.nav-link{
  margin-left:-44px;
  width:374px;
  height:60px;
 
}
.ml{
  background-color: #3457ED;
}
.ml-1{
  background-color: #2039A5;
}
.ms-2{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color:antiquewhite;
}
.bi{
  width:10px;
}
.link{
  padding-top:16px;
}

.col-2{
  background-color: 	#284EEF;
}
.admin_panel{
  background-color: #3457ED;
  width:280px;
  height:60px;
  margin:80px 0px 70px 20px;
  border: 1px solid #FFFFFF;
border-radius: 3px;
  
}

.button{
  width:10px;
  height:15px;
  margin-left:100px;
  border: none;
  background-color: #2039A5;
}
.dashboard{
display:none;
}
.dashboard.minify{
  margin-left:-32px;
  margin-top:18px;
  display:grid;
}

/* menu part */
table.admin th:not(:first-child) div{
  display: grid;
  align-items: center;
  height: 80px;
  border-left: 1px solid #000;
}

table.admin button{
  margin: auto;
  border-radius: 30px;
}

table.admin td:not(:first-child) div{
  display: grid;
  align-items: center;
  height: 40px;
  border-left: 1px solid #000;
}

table.admin td:last-child{
  width: 150px;
}

table.admin th{
  padding: 0;
}

table.admin td{
  padding: 0;
}

table.admin tr{
  background: #B2C0F8;
  height: 88px;
}

table.admin tr:nth-child(even){
  background: #DAE1FF;
}

table.admin tr:first-child{
  height: 145px;
  justify-content: center;
}
/*-----------*/
